* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background:#364a01 ;
    color: red;
    padding: 0.5%;
}

.logo {
    width: 60px;
    height: 40px;
}
.address{
    margin-left:auto;
}
nav{
    display: flex;
    background: #dfdfdf;
    justify-content: center;
    gap: 15px;
    padding: 1%;
}
main{
    margin-left: 20%;
    margin-right: 20%;
}

main >div> h2{
    margin-top: 1%;
    margin-bottom: 1%;
}
.popolam{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px
}
.bolder{
    font-weight: bolder;
}

.vis{
    display: none;
}
footer{
    position: relative;
    bottom: 0;
}
@media (max-width:460px) {

}