* {
    margin: 0;
    box-sizing: border-box;
}

p,li,b{
    font-size: 20px;
}

img {
    width: 100%;
    margin-top: 1%;
}

header {
    display: flex;
    align-items: center;
    background: #364a01;
    color: red;

}
header>img{
    margin-top: 0;
    width: unset;
}
#buter {
    display: none;
    margin-left: auto;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.logo {
    width: 60px;
    height: 40px;
}

.address {
    margin-left: auto;
    margin-right: 10px;
}

#tel {
    margin-left: 10px
}

nav {
    display: flex;
    background: #dfdfdf;
    justify-content: center;
    gap: 15px;
    padding: 1%;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

main > div > h2, h3 {
    margin-top: 2%;
    margin-bottom: 1%;
}
main>div>p{
    margin-top: 10px;
}
main > div > img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.popolam {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 10px;
}

.date {
    margin-left: 80%;
    margin-top: 10px;
    font-weight: bolder;
}

ul, ol {
    margin-top: 10px;
    margin-bottom: 10px;
}

ol > li > ul, ol {
    margin-left: -20px;
    font-size: 20px
}

.bolder {
    font-weight: bolder;
}

.vis {
    display: none;
}

footer {
    height: 50px;
    width: 100%;
    display: flex;
    background: gray;
    align-items: center;
    margin-top: 30px;
}

@media (max-width: 460px) {
    p {
        font-size: 20px;
    }

    li {
        font-size: 20px
    }

    #buter {
        display: unset;
    }

    nav {
        text-align: center;
        font-size: 24px;
        display: none;
    }

    nav > hr {
        width: 90%;
        margin-left: 5%;
    }

    .address {
        display: none;
    }
footer>.address{
    display: unset;
    text-align: center;
    font-size: 18px;
}
    .popolam {
        grid-template-columns: 1fr;
    }

    main {
        margin-left: 5px;
        margin-right: 5px;
    }

    .date {
        margin-left: 70%;
    }

}